body{
    font-family: 'Poppins', sans-serif;
}
#id1{
    margin-top: 10%;
}
.section1 p{
    margin-bottom: 5%;
}
.div1{   
    width: 50%;
}
.section1{
    display: flex;
}
.div1 img{
    width: 70%;
}
#id0 p{
    font-size: 50px;
    font-weight: 800;
}
#id0{
    margin-left: 10%;
    border-left: 4px solid;
    padding-left: 1%;
    border-color: tomato;
}
.color1{
    color: orange;
}
.link-button1{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color:tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    margin-left: 10%;
}
#p1{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
#p2{
    margin-left: 10%;
    margin-top: 5%;
}
#id1{
    margin-left: 10%;
}
/* (section1 done */
/* (section2) */
#p3{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.span1{
    color: orange;
}
.section2 img{
    width: 60%;
}
.section2{
    margin-left: 15%;
}
.box1{
    width: 25%;
    padding-left: 2%;
    padding-bottom: 2%;
    border: 5px white;
    border-radius: 10%;
    background-color: wheat;
    margin-right: 5%;
}
.box2{
    width: 25%;
    padding-left:2% ;
    padding-bottom: 2%;
    border: 5px white;
    border-radius: 10% ;
    background-color: yellowgreen;
    margin-right: 5%;
}
.box3{
    width: 25%;
    padding-left: 2%;
    padding-bottom: 2%;
    border: 5px white;
    border-radius: 10%;
    background-color: antiquewhite;    
}
.section2{
    display: flex;
}
.section2{
    margin-bottom: 5%;
}
/* (section2 complete) */
/* section3) */
.section3 p{
    text-align: left;
}
.div2{
    width: 50%; 
}

/* .section3{
    margin-left: 15%;
} */
.div2 img{
    width: 90%;
    margin-left: 46%;
}
.section3{
    display: flex;
}
.again-div{
    margin-right: 20%;
    margin-top: 5%;
    margin-left: 15%;
}
.documents-button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color:tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
}
.div2 p{
    margin-bottom: 5%;
}
.section3{
    background-image: url(shape-1.png);
   background-repeat: no-repeat;
    background-position: right 93% bottom 45%;
    background-size: 20%; 
} 

